{{extend 'layout.html'}}
<style>
    body{
        background-color: #1c1d26;
    }
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-right: auto;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:hover {
    background-color: dodgerblue;
    text-align: left;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: black;
  text-align: left;
}
</style>

<h1>Devices</h1>
{{#=BEAUTIFY(response._vars)}}

{{=grid}}
